/* Estilos para header y footer*/

header, footer{
    background-color: #23695c;
}

header h1{
    color:white;
    font-weight: bold;
    text-align:center;
}

footer p{
    color:white;
    font-weight: bold;
    text-align:center;
}

/* Estilo para navegacion */

#navitem1, #navitem2, #navitem4 {
    margin-top: 20pt;
    width: 20%;
    text-align: center;
  }

#navitem3 {
    margin-top: 20pt;
    width: 40%;
  }

.navlink:hover { 
    background-color:  #3796854f;;
    background-size: 100pt;
    color: white;
  }

/* Estilos para el enlace inactivo */
.noactive {
    --primary: grey;
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgba(211, 211, 211, 0.287);
    border-bottom: 1px solid black;
  }


/* Estilos para botones */

#new_btn{
  width: 100%;
}
#cancel_btn{
  width: 100%;
}

.inactiveButton {
  --primary: rgb(189, 189, 189);
  cursor: not-allowed;
  color: grey;
  pointer-events: none;
  background-color: rgba(211, 211, 211, 0.287);
}

/* Estilos para el new_form grid */
.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-item {
  margin: 20pt;
  padding: 20pt;
  background-color: rgba(246, 246, 246, 0.743);
  border-radius: 10pt
}

/* Estilos para el new transaction form */
.description {
  color:grey;
  font-size: 90%;
}

/* clase invisible */

.invisible{
  display: none;
}


