{% extends "base.html" %}

{% block content%}

    <main>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>FROM</th>
                    <th>Amount (From)</th>
                    <th>TO</th>
                    <th>Amount (To)</th>
                </tr> 
            </thead>
            <tbody id="transactions_table"> <!-- id used in JS to display transactions -->
            </tbody>
        </table>
    </main>

{% endblock %}